@model IEnumerable<Tengella.Survey.Data.Models.SurveyForm>

@{
    ViewData["Title"] = "Surveys";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card survey-card w-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-plus-circle fa-3x mb-3"></i>
                    <h5 class="card-title">Create New Survey</h5>
                </div>
                <a href="@Url.Action("CreateSurvey", "Home")" class="stretched-link"></a>
            </div>
        </div>

        @foreach (var survey in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                <div class="card survey-card w-100">
                    @if (survey.ClosingDate < DateTime.Now)
                    {
                        <div class="badge badge-danger" style="top: 10px; right: 10px;">Closed</div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@survey.Name</h5>
                        <p class="card-text">@survey.Type</p>
                        <p class="card-text">Survey closes: @survey.ClosingDate.ToShortDateString()</p>
                        <p class="card-text">@survey.Questions.Count() @(survey.Questions.Count() == 1 ? "question" : "questions")</p>
                        <ul>
                            @foreach (var question in survey.Questions)
                            {
                                <li>
                                    @question.Text
                                    @(question.Options.Count() > 0 ? $" ({question.Options.Count()} options)" : "")
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <a href="@Url.Action("PreviewSurvey", "Home", new { id = survey.SurveyFormId })" class="btn btn-link"><i class="fas fa-eye"></i></a>
                        <a href="@Url.Action("CreateSurvey", "Home", new { id = survey.SurveyFormId })" class="btn btn-link"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("DeleteSurvey", "Home", new { id = survey.SurveyFormId })" class="btn btn-link"><i class="fas fa-trash-alt"></i></a>
                        <a href="@Url.Action("CopySurvey", "Home", new { id = survey.SurveyFormId })" class="btn btn-link"><i class="fas fa-copy"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>