@model SurveySummaryViewModel

@{
    ViewData["Title"] = "Enkät Rapport/Analys";
}

<h1>@ViewData["Title"]</h1>

<h3>Upprepade Frågor</h3>
@if (Model.RepeatedQuestions.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Fråga</th>
                    <th>Antal gånger upprepad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.RepeatedQuestions)
                {
                    <tr>
                        <td>@log.EntityName</td>
                        <td>@log.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Inga upprepade frågor hittades.</p>
}

<h3>Enkäter Slutförda</h3>
@if (Model.SurveyCompletions.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Enkät</th>
                    <th>Antal gånger slutförd</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.SurveyCompletions)
                {
                    <tr>
                        <td>@log.EntityName</td>
                        <td>@log.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Inga slutförda enkäter hittades.</p>
}

<h3>Skickade Email</h3>
@if (Model.EmailSends.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Enkät</th>
                    <th>Antal mottagare</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.EmailSends)
                {
                    <tr>
                        <td>@log.EntityName</td>
                        <td>@log.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Inga skickade email hittades.</p>
}
