@model SurveySummaryViewModel

@{
    ViewData["Title"] = "Enkät analys";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <h3>Alla enkäter</h3>
    @if (Model.SurveySummaryData.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Enkät Namn</th>
                        <th>Antal mottagare</th>
                        <th>Antal slutföranden</th>
                        <th>Totalt antal svar</th>
                        <th>Svarsfrekvens</th>
                        <th>Senaste svarsdatum</th>
                        <th>Åtgärder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.SurveySummaryData)
                    {
                        <tr>
                            <td>@data.SurveyName</td>
                            <td>@data.EmailSends</td>
                            <td>@data.SurveyCompletions</td>
                            <td>@data.TotalResponses</td>
                            <td>@data.ResponseRate.ToString("P")</td>
                            <td>@data.LastResponseDate?.ToString("g")</td>
                            <td>
                                <a href="@Url.Action("SurveyAnalysis", "SurveyAnalysis", new { id = data.SurveyFormId })" class="btn btn-primary">Visa analys</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Inga enkäter hittades.</p>
    }

    <h3>Upprepade frågor</h3>
    @if (Model.RepeatedQuestions.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Fråga</th>
                        <th>Antal upprepningar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.RepeatedQuestions)
                    {
                        <tr>
                            <td>@log.EntityName</td>
                            <td>@log.Count</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @if (Model.RepeatedQuestionAnalyses.ContainsKey(log.EntityName))
                                {
                                    var analysis = Model.RepeatedQuestionAnalyses[log.EntityName];
                                    <div>
                                        <h4>Alternativ Svarsfrekvens</h4>
                                        <ul class="list-group">
                                            @foreach (var option in analysis.OptionResponseCounts)
                                            {
                                                <li class="list-group-item">
                                                    @option.OptionText: @option.Count svar
                                                </li>
                                            }
                                        </ul>
                                        <h4>Öppna Svar</h4>
                                        <ul class="list-group">
                                            @foreach (var response in analysis.OpenResponses)
                                            {
                                                <li class="list-group-item">
                                                    @response
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <p>Ingen detaljerad analys tillgänglig.</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Inga upprepade frågor hittades.</p>
    }
</div>
